.img {
    text-align: center;
    z-index: 9999; /* Garante que a imagem esteja na frente de outros elementos */
}


/*.bag1 {
    background-color: #f9f2ec;
    padding: 100px;
    margin: 100px;
  }*/

  .banner {
    text-align: center;
    z-index: 9999; /* Garante que a imagem esteja na frente de outros elementos */
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
/*código saddle bag*/
* {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: left;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}
/*término código saddle bag*/

