/*
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  */

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
   /* font-family: arial; */
  }
  .price {
    color: grey;
    font-size: 20px;
  }
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .card button:hover {
    opacity: 0.7;
  }

/*inicio overlay*/
.quadrado {
  position: relative;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}

.imagem-base {
  width: 80%;
  height: auto;
  display: block;
  transition: opacity 0.5s ease /* Adiciona uma transição suave */
}

.imagem-overlay {
  width: 80%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; /* Inicialmente, a imagem overlay não é visível */
  transition: opacity 0.5s ease /* Adiciona uma transição suave */
}

.quadrado:hover .imagem-base {
  opacity: 0; /* Ao passar o mouse sobre a div container, a imagem base fica invisível */
}

.quadrado:hover .imagem-overlay {
  opacity: 1; /* Ao passar o mouse sobre a div container, a imagem overlay fica visível */
}

/*final imagem overlay*/