    /* Estilos para telas grandes */
    @media screen and (min-width: 768px) {
        .container {
            padding: 40px;
        }
    }
    
    /* Estilos para telas pequenas */
    @media screen and (max-width: 767px) {
        .container {
            padding: 20px;
        }
    }
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Wix+Madefor+Display:wght@400..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

.texto1 {
    text-align: center;
}

/* Inicio do formulario */

form {
max-width: 500px;
margin: 0 auto;
padding: 20px;
border: 1px solid #ccc;
border-radius: 5px;
background-color: #f7f7f7;
}

label {
display: block;
margin-bottom: 5px;
font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
width: 100%;
padding: 8px;
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 5px;
}

input[type="submit"] {
background-color: #4CAF50;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
}

input[type="submit"]:hover {
background-color: #45a049;
} 
.error {
color: red;
font-size: 13px;
}

/* Final do formulario */