main {
  margin-left: auto;
  margin-right: auto;
  /* Exemplo de media query para telas pequenas */
@media only screen and (max-width: 600px) {
  /* Estilos para telas pequenas */
}

/* Exemplo de media query para telas médias */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Estilos para telas médias */
}

/* Exemplo de media query para telas grandes */
@media only screen and (min-width: 1025px) {
  /* Estilos para telas grandes */
}
}

.img {
    text-align: center;
    z-index: 9999; /* Garante que a imagem esteja na frente de outros elementos */
}
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*inicio do menu*/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #ffffff;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
/*final do menu*/


/*inicio scrollbar*/
div.scroll-container {
  background-color: #fffffc;
  overflow: auto;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  white-space: nowrap; /* Evita que o conteúdo quebre a linha */
  text-align: center;
  
}

div.scroll-container img {
  padding: 10px;
}
/*final scrollbar*/

.linhaintroducao {
  text-align: center;
  
}
.small {
  text-align: center;
}

.infocadastro {
  color: gray;
}

/*inicio descobrir*/
/*a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: gray;
  background-color: transparent;
  text-decoration: underline;
}*/

/*final descobrir*/

  /* inicio div 50% e centralizada*/

  /* Estilo para as divs principais */
  .container {
    display: flex; /* Ativa o flexbox para alinhar as divs */
    height: 100vh; /* Altura total da tela */
  }

  .coluna {
    width: 50%; /* Cada coluna ocupa 50% da largura da tela */
    display: flex; /* Ativa o flexbox para alinhar a div centralizada */
    justify-content: center; /* Centraliza horizontalmente os itens dentro da div */
    align-items: center; /* Centraliza verticalmente os itens dentro da div */

  }

  /* Estilo para a div centralizada */
  .centralizada {
    width: 80%; /* Largura da div centralizada */
    text-align: center; /* Alinha o texto centralizado */
    padding: 20px; /* Espaçamento interno (opcional) */
    justify-content: center;
  }
  
  /* final div 50% e centralizada*/

   /* inicio do vídeo */

  /* Estilo para centralizar o vídeo */
  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;

   /* height: 100vh; /* Define a altura da tela inteira */
  }

  /* Estilo para o vídeo */
  video {
    max-width: 500%; /* O vídeo ocupará no máximo a largura disponível */
    max-height: 500%; /* O vídeo ocupará no máximo a altura disponível */
  }