main {
  margin-left: auto;
  margin-right: auto;
  
  /* Exemplo de media query para telas pequenas */
@media only screen and (max-width: 600px) {
  /* Estilos para telas pequenas */
}

/* Exemplo de media query para telas médias */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Estilos para telas médias */
}

/* Exemplo de media query para telas grandes */
@media only screen and (min-width: 1025px) {
  /* Estilos para telas grandes */
}
}

.img {
    text-align: center;
    z-index: 9999; /* Garante que a imagem esteja na frente de outros elementos */
}
* {
  font-family: Helvetica;
}

/*início do menu*/

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

header {
  background-color: #ffffff;
  color: #000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo img {
  width: 100px;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

.menu a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 15px;
  transition: color 0.3s;
}

.menu a:hover {
  color: #FFD700; 
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.menu li:hover .submenu {
  display: block;
}
.submenu a {
  display: block;
  color: #000;
  text-decoration: none;
  padding: 5px 0;
}

submenu a:hover {
 /* background-color: #f0f0f0; */
}
/*final do menu*/

.linhaintroducao {
  text-align: center;
  
}
.small {
  text-align: center;
}

.infocadastro {
  color: gray;
}

/*inicio descobrir*/
/*a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: gray;
  background-color: transparent;
  text-decoration: underline;
}*/

/*final descobrir*/

  /* inicio div 50% e centralizada*/

  /* Estilo para as divs principais */
  .container {
    display: flex; /* Ativa o flexbox para alinhar as divs */
    height: 100vh; /* Altura total da tela */
  }

  .coluna {
    width: 100%; /* coluna ocupa 50% da tela */
    display: flex; /* Ativa o flexbox para alinhar a div centralizada */
    justify-content: center; /* Centraliza horizontalmente os itens dentro da div */
    align-items: center; /* Centraliza verticalmente os itens dentro da div */

  }

  /* Estilo para a div centralizada */
  .centralizada {
    width: 50%; /* Largura da div centralizada */
    text-align: center;
    padding: 20px; /* Espaçamento interno (opcional) */

  }

  .imagee {
    width: 6000%;
  }

   /* inicio do vídeo */

  /* Estilo para centralizar o vídeo */
  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column; /* Altera a direção do flexbox para coluna em telas menores */
    }

  }

  /* Estilo para o vídeo */
  video {
    max-width: 500%; /* O vídeo ocupará no máximo a largura disponível */
    max-height: 500%; /* O vídeo ocupará no máximo a altura disponível */
  }

   /* final do vídeo */
/*inicio table*/
/*.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
}

table {
    width: 30%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #fff9a7;
}*/

/*final table*/





