main {
  margin-left: auto;
  margin-right: auto;
  
  /* Exemplo de media query para telas pequenas */
@media only screen and (max-width: 600px) {
  /* Estilos para telas pequenas */
}

/* Exemplo de media query para telas médias */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Estilos para telas médias */
}

/* Exemplo de media query para telas grandes */
@media only screen and (min-width: 1025px) {
  /* Estilos para telas grandes */
}
}

.img { /*Logo do Site*/
    text-align: center;
    z-index: 9999; /* Garante que a imagem esteja na frente de outros elementos */
}
* {
  font-family: Helvetica;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Adicionado para ocupar toda a altura da tela */
}

.image {
  width: 100%;
}

.image img {
  width: 100%;
  height: auto;
}

.text {
  padding: 20px; /* Alterado para garantir o espaçamento em todos os lados */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza o conteúdo verticalmente */
}

.text h2 {
  color: #333;
  text-align: center; 
}

.text p {
  color: #5a5a5a;
  text-align: center; 
}

@media screen and (min-width: 600px) {
  .container {
      flex-direction: row;
  }

  .image {
      width: 51%;
  }

  .text {
      width: 50%;
  }
}
   /* inicio do vídeo */

  /* Estilo para centralizar o vídeo */
  .video-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 768px) {
    .container {
      flex-direction: column; /* Altera a direção do flexbox para coluna em telas menores */
    }

  }

  /* Estilo para o vídeo */
  video {
    max-width: 500%; /* O vídeo ocupará no máximo a largura disponível */
    max-height: 500%; /* O vídeo ocupará no máximo a altura disponível */
  }

   /* final do vídeo */

  /*inicio table*/
  /*.table-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50vh;
      margin: 0;
  }

  table {
      width: 30%;
      border-collapse: collapse;
      text-align: center;
  }

  th, td {
      border: 1px solid #ddd;
      padding: 8px;
  }

  th {
      background-color: #fff9a7;
  }*/

/*final table*/

/* BOLETIM E CADASTRO */

    /* Estilo para remover as bordas do formulário */
    form {
      width: 300px; /* Define a largura do formulário */
      margin-left: 20px; /* Define a margem esquerda para posicionar o formulário */
      text-align: center; /* Alinha o texto do formulário à esquerda */
      border: none;
  }

  /* Estilo para os campos do formulário */
  input[type="text"], input[type="email"], select {
      width: calc(100% - 40px); /* Ajusta a largura para compensar o padding do formulário */
      padding: 12px 20px;
      margin: 8px 0;
      border: none;
      border-bottom: 1px solid #ccc; /* Adiciona uma linha embaixo do campo */
      box-sizing: border-box;
      transition: border-bottom 0.3s ease-in-out; /* Transição suave para a linha */
  }

  /* Estilo para o campo de email */
  input[type="email"] {
      background-color: #f9f9f9;
  }

  /* Estilo para o botão */
  button[type="submit"] {
      background-color: transparent;
      color: inherit; /* Usa a cor de texto padrão do elemento pai */
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
  }

  /* Estilo para a linha de foco */
  input[type="text"]:focus, input[type="email"]:focus, select:focus {
      outline: none;
      border-bottom: 2px solid #4CAF50; /* Altera a linha para verde quando o campo está em foco */
  }
  
/* BOLETIM E CADASTRO */


