    /* Estilos para telas grandes */
    @media screen and (min-width: 768px) {
        .container {
            padding: 40px;
        }
    }
    
    /* Estilos para telas pequenas */
    @media screen and (max-width: 767px) {
        .container {
            padding: 20px;
        }
    }
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Wix+Madefor+Display:wght@400..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}
header {
    z-index: 999;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    transition: 0.5s ease;
}

header .brand {
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation {
    position: relative;
}

header .navigation .navigation-items a{
    position: relative;
    color: #ffffff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}


header .navigation .navigation-items a:before{
    content: '';
    position: absolute;
   /* background: #ffffff; */
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
}

header .navigation .navigation-items a:hover:before{
    width: 100%;
}

section {
    padding: 100px 200px;
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #000000;
}


.home:before{
    z-index: 777;
    content: '';
    position: absolute;
    background: #00000046;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .content{
    z-index: 888;
    color: #ffffff;
    width: 70%;
    margin-top: 50px;
    display: none;
}

.home .content.active{
    display: block;
}

.home .content h1{
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home .content h1 span{
    font-size: 1.2em;
    font-weight: 600;
}

.home .content p{
    margin-bottom: 65px;
}

.home .content a{
    background: #ffffff;
    padding: 15px 35px;
    color: #000000;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}

.home .media-icons{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.home .media-icons a{
    color: #ffffff;
    font-size: 1.6em;
    transition: 0.3s ease;
}

.home .media-icons a:not(:last-child){
    margin-bottom: 20px;
}

.home .media-icons a:hover{
    transform: scale(1.3);
}

.home video{
    z-index: 000;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-navigation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgb(236, 236, 236);
    transition: 0.3 ease;
}

.slider-navigation .nav-btn.active{
    background: #94949479; /*cor das bolinhas*/
}

.slider-navigation .nav-btn:not(:last-child){
    margin-right: 20px;
}

.slider-navigation .nav-btn:hover{
    transform: scale(1.2);
}

.video-slide{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);

}

.video-slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 3s ease;
    transition-property: clip-path;
}

@media (max-width: 1040px) {
    header{
        padding: 15px 20px;
    }

    section{
        padding: 100px 20px;
    }

    .home .media-icons {
        right: 15px;
    }

    header .navigation{
        display: none;

    }

    header .navigation.active{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }

    header .navigation .navigation-items a{
        
        color:#222;
        font-size: 1.2em;
        margin: 20px;
    }

    header .navigation .navigation-items a:before{
        background: #ffffff;
        height: 5px;
    }

    header .navigation.active .navigation-items{
        background: #fff;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1, 1, 1 / 20%);
    }

    .menu-btn{
        background: url(menu.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
        color: #ffffff;
    }

    .menu-btn.active{
        z-index: 999;
        background: url(close.png)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
    }
}

/*ESTILO DOS CARDS DE MULHERES
*/
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; /* Espaçamento entre os cartões */
}

.product-card {
    width: calc(50% - 10px); /* Largura do cartão, considerando o espaço entre eles */
    position: relative;
    overflow: hidden;
}

.product-card img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.4s ease;
}

.product-card:hover img {
    transform: scale(1.1);
}

.product-info {
    position: absolute;
    bottom: 0;
    left: 0;
    color: rgb(0, 0, 0);
    padding: 10px;
    width: calc(100% - 20px); /* Ajuste para o tamanho do cartão */
    transition: opacity 0.3s ease;
    box-sizing: border-box;
}

.product-info h3 {
    margin: 0;
}

.product-info button {
    background-color: transparent;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 8px #000000;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 1px solid transparent;
}

.product-info button:hover {
    border-bottom: 1px solid rgb(0, 0, 0);
}

@media screen and (max-width: 767px) {
    .product-card {
        width: calc(100% - 20px); /* Largura do cartão em telas pequenas */
    }

    .product-info {
        width: 100%; /* Largura total para telas pequenas */
    }
}
/*IMG COMPARADAS*/
* {box-sizing: border-box;}

.img-comp-container {
    width: 100%;
    max-width: 800px; /* Define largura máxima que seja adequada */
    margin: 20px auto; /* Centraliza o slider */
  position: relative;
  height: 200px;
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow:hidden;
}

.img-comp-img img {
  display:block;
  vertical-align: middle;
}

.img-comp-slider {
  position: absolute;
  z-index:9;
  cursor: ew-resize;
   /* aparência do controle deslizante */
  width: 30px;
  height: 30px;
  background-color: #ebebeb;
  opacity: 0.7;
  border-radius: 50%;

}

.container {
  display: flex;
  flex-direction: column;
  height: 100%; /* Adicionado para ocupar toda a altura da tela */
}

.image {
  width: 100%;
}

.image img {
  width: 100%;
  height: auto;
}

.texto {
  padding: 20px; /* Alterado para garantir o espaçamento em todos os lados */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza o conteúdo verticalmente */
}

.texto h2 {
    color: #333;
    text-align: center; 
  }
  
.texto p {
    color: #5a5a5a;
    text-align: center; 
  }

@media screen and (min-width: 600px) {
    .fotos {
        flex-direction: row;
    }
  
    .imagem {
        width: 51%;
    }
  
    .descricao {
        width: 50%;
    }
  }

.titulo1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.titulo1 p{
    color: #5a5a5a;
}

.titulo1 h1{
    color: #333;
}

.formu {
        color: #333;
}

 form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f7f7f7;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
} 
.error {
    color: red;
    font-size: 13px;
}
/* final do formulario */
.fotos {
    display: flex;
    height: 100vh; /* Ocupa toda a altura da tela */
}

.imagee, .descricao {
    width: 50%; /* Cada div ocupa 50% da largura da tela */
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

.imagem {
    position: relative;
}

.imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem cubra toda a área da div */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    opacity: 0;
    transition: opacity 0.3s ease; /* Transição suave */
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem:hover .overlay {
    opacity: 1; /* Mostra o overlay ao passar o mouse */
}

.overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.descricao {
    padding: 20px; /* Alterado para garantir o espaçamento em todos os lados */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    color: #333;
}

.descobrir a {
    text-decoration: none;
    color: #000000; /* Cor do link */
}

.descobrir a:hover {
    text-decoration: underline; /* Sublinhar ao passar o mouse */
}

/* Botão */


div[class*=box] {
  height: 33.33%;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}
/* ..... */
.btn-three {
    color: #000000;
    transition: all 0.5s;
    position: relative;
  }
  .btn-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(204, 204, 204, 0.1);
    transition: all 0.3s;
  }
  .btn-three:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
  }
  .btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(139, 139, 139, 0.5);
    transform: scale(1.2,1.2);
  }
  .btn-three:hover::after {
    opacity: 1;
    transform: scale(1,1);
  }

