    /* Estilos para telas grandes */
    @media screen and (min-width: 768px) {
        .container {
            padding: 40px;
        }
    }
    
    /* Estilos para telas pequenas */
    @media screen and (max-width: 767px) {
        .container {
            padding: 20px;
        }
    }
  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Wix+Madefor+Display:wght@400..800&display=swap');

  .product-grid{ font-family: 'Poppins', sans-serif; }
  .product-grid .product-image{
      overflow: hidden;
      position: relative;
      z-index: 1;
  }
  .product-grid .product-image a.image{display: block; }
  .product-grid .product-image img{
      width: 100%;
      height: auto;
  }
  .product-grid .product-image .img-1{ transition: all 0.5s ease 0s; }
  .product-grid:hover .product-image .img-1{ opacity: 0; }
  .product-grid .product-image .img-2{
      width: 100%;
      height: 100%;
      opacity: 0;
      backface-visibility: hidden;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      transition: all 0.5s ease 0s;
  }
  .product-grid:hover .product-image .img-2{ opacity: 1; }
  .product-grid .product-view,
  .product-grid .add-cart{
      color: #555;
      background:#fff;
      font-size: 14px;
      padding: 11px 17px 12px;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
      opacity: 0;
      transform: translateX(-50%) translateY(-50%);
      position: absolute;
      top: 70%;
      left: 50%;
      transition: all 0.5s ease;
  }
  .product-grid:hover .product-view{
      opacity: 1;
      top: calc(50% - 28px);
  }
  .product-grid:hover .add-cart{
      opacity: 1;
      top: calc(50% + 28px);
  }
  .product-grid .product-view:hover,
  .product-grid .add-cart:hover{
      color: #fff;
      background: #333;
  }
  .product-grid .product-links{
      padding: 0;
      margin: 0;
      list-style: none;
      opacity: 0;
      position: absolute;
      top: 10px;
      right: 15px;
      z-index: 1;
  }
  .product-grid:hover .product-links{ opacity: 1; }
  .product-grid .product-links li{ margin: 7px 0; }
  .product-grid .product-links li a{
      color: #555;
      font-size: 16px;
      transition: all 0.4s ease;
  }
  .product-grid .product-links li a:hover{ color: #0775c0; }
  .product-grid .product-content{
      text-align: center;
      padding: 15px;
  }
  .product-grid .title{
      font-size: 15px;
      font-weight: 550;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      margin: 0 0 8px;
  }
  .product-grid .title a{
      color: #333;
      transition: all 0.3s ease 0s;
  }
  .product-grid .title a:hover{ color: #0775c0; }
  .product-grid .price{
      color: #555;
      font-size: 15px;
      font-weight: 400;
  }
  @media screen and (max-width: 990px){
      .product-grid{ margin-bottom: 30px; }
  }
  /* FINAL PRODUCT CARD*/

 /* HERO IMAGE */
  body {
   margin: 0;
   padding: 0;
}
.hero {
   position: relative;
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.hero::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: url(https://i.postimg.cc/bwt2VKj2/image.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}
.hero-content {
   position: relative;
   font-family: "Monserrat", sans-serif;
   color: white;
   text-align: center;
   margin: 0.625rem;
}
.hero-title {
   font-size: 30px;
   font-weight: 550;
   margin-bottom: 0;
   text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7); /* Sombra para destacar o texto */
}
.hero-subtitle {
   font-size: 15px;
   font-weight: 200;
   margin-top: 1rem;
   text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7); /* Sombra para destacar o texto */
}
.hero-button {
   background-color: #ae2d59;
   color: white;
   border: 1px solid #cb376a;
   margin-top: 5rem;
   padding: 0.9375rem1.875rem;
   font-family: "Monserrat", sans-serif;
   font-size: 1.125rem;
   font-weight: 200;
   cursor: pointer;
}
.hero-button:hover {
   background-color: #cb376a;
   border: 1px solid #db7598;
}

    
